<%-include("partials/header")-%>
<div class="container-fluid">


<h2>About Us</h2>
<p><%=text2%></p>
<p>This blog web app is created by Prajwal Singh</p>

</div>
<%-include("partials/footer")-%>
