<%-include("partials/header")-%>

<div class="contactContainer">
  <h2>My Contacts </h2>
  <p><%=contactContent%></p>
  <ul>

    <li>
      <h5>
        <a href="https://www.linkedin.com/in/prajwal-singh-8740b4236/" target="blank" class="nav-link">Prajwal's Linkedin</a>
      </h5>
    </li>
    <li>
      <h5>
        <a href="https://github.com/Singh-Prajwal" target="blank" class="nav-link">Prajwal's Github</a>
      </h5>
    </li>
    <li>
      <h5>
        <a href="mailto:prajwal.singh.226@gmail.com?subject=feedback" class="nav-link">Email me</a>
      </h5>
    </li>
  </ul>
</div>
<%-include("partials/footer")-%>
